---
import type { Content } from '@/types';
import Headline from '@/components/ui/Headline.astro';
import SectionWrapper from '@components/ui/SectionWrapper.astro';
import ItemGrid from '@/components/ui/ItemGrid.astro';
import Button from '@/components/ui/Button.astro';
import Image from '@/components/commons/Image.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  items = [],
  columns,

  isAfterContent = false,
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Content;
---

<SectionWrapper id={id} isDark={isDark} classes={classes} bg={bg} isAfterContent={isAfterContent}>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400',
    }}
  />
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class="md:basis-1/2 self-center">
      {content && <div class="mb-12 text-lg " set:html={content} />}
    </div>
  </div>
</SectionWrapper>
